body{font-family: 'Roboto', sans-serif;
background-color: #181818;
color: #FFFDE3;}

.navbar{background-color: #0F3460 ;}

.navbar-img{height: 62px;}
.nav-head{padding-top: 28px;
color: #E64848;
font-family: 'Lobster', cursive;}

.nav-link{color: #F1E1A6;}

.dropdown-item{color: #F1E1A6;}

.nav-link:hover{background-color: #F1E1A6 ;
color: #0F3460 ;
border-radius: 5px;}

.dropdown-item{background-color: #F1E1A6 ;
    color: #0F3460 ;}

.ustad-hotel-poster{max-width: 100%;
height: auto;
margin-left: 40px;
padding-top: 20px;}

#text-area{padding-top: 110px;
    text-align: justify ;
line-height: 30px;
color: #FFFDE3;}

h5{padding-top: 10px;}

p{padding-top: 10px;}

.carousel-text{color: #F9F9F9;}

.deals-text{padding-top: 70px;}

.card{margin-top: 50px;
color: #181818;}

#feedback-text{text-align: start;
margin-top: 50px;}

.form-control{width: 500px;}

#exampleInputMessage1{height: 150px;}

#footer-1{margin-top: 150px;
background-color: #141E27;
padding: 30px;}

.footer-text{text-decoration: none;
text-align: right;
color: #F1E1A6 ;}

ul{list-style: none;
text-align: left;}

.icons{width: 15px;}


